body {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
  }

.container{
     width: 50%;
}

#genPass{
     border-style: dashed;
     border-width: 1px;
     height: 120px;
     width: 100%;
     text-align: center;
     font-size: 90%; 
}